@keyframes extend {
    0% {
        width: 38%;
        height: 18%;
        border: 1px solid black;
        }  100% {
        border: 5px solid black;
        width: 15%;
        height: 15%;
        border-radius: 100%;
        background: lightgrey;
        }
    }

@-webkit-keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: rgb(255, 255, 255);
        } 100% {
        opacity: 0;
        }
    }

@keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }

    @keyframes appear {
        0% {
            opacity: 0;
            } 70% {
            opacity: 0;
            } 100% {
            opacity: 1;
            }
        }

.button{
    border-width: 1px;
    width: 38%;
    height: 18%;
    /*border-radius*/
    background: #fff;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    }

button > span {
    font-size: 130%;
    color: black;
    }

button:focus {
    -webkit-animation: extend 1s ease-in-out;
    -ms-animation: extend 1s ease-in-out;
    animation: extend 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
    }

button:focus > span {
    -webkit-animation: disappear 1s ease-in-out;
    -ms-animation: disappear 1s ease-in-out;
    animation: disappear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
    }

