.header {
    height: 50vh;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

.bg-custom {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
::placeholder {
    font-family: Raleway;
}

input[type="text"],
input[type="number"],
textarea[type="text"] {
    font-family: Raleway;
    color: #000 !important;
}

body {
    overflow-x: hidden;
}

.home-text {
    margin-left: 30%;
    margin-right: 30%;
}

.div-bg {
    height: 75vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.div-bg2 {
    height: 45vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.div-bg3 {
    position: relative;
    background-color: #f5f5f5;
    padding: 50px 0px 1rem 0px;
}

.event-featured div {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

.event-featured:hover div {
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 0;
    visibility: visible;
    opacity: 0.7;
}

hr {
    background-color: #fff;
    height: 0.5px
}

.ex-txta {
    min-height: 20vh;
}

.form-hidden {
    display: none;
}

.footer {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #fff !important;
}

.nav-item {
    font-weight: normal;
    text-align: left;
    margin-right: 5px;
    width: max-content;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    background: rgb(255, 255, 255);
    content: '';
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.4s ease-in;
    width: 100%;
    height: 2.2px;
    bottom: 0;
    right: 0;
}

.nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-active::before {
    height: 2.2px;
    bottom: 0;
    left: 0;
    background: white;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-image: none
}

#breadcrumb-item:hover {
    text-decoration: underline;
}

.next-prev {
    position: absolute;
    bottom: 0;
    right: 10;
}

/*note to self: @media useful for scaling to mobile devices*/
@media (max-width: 1070px) {
    .ex-txta {
        min-height: 25vh;
    }
}

@media (max-width: 990px) {
    .event-featured div {
        width: 100%;
        padding: 8px 15px;
        margin-bottom: 0;
        visibility: visible;
        opacity: 0.7;
    }

    nav.navbar {
        background-color: #3f0d12;
        background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    }

    .home-text {
        margin-left: 10%;
        margin-right: 10%;
    }

    .date-text {
        font-size: medium !important;
    }

    .coming-soon-text,
    #secs,
    #mins,
    #hours,
    #days {
        font-size: large !important;
        margin-top: 10%;
    }

}

@media(max-width: 600px) {
    .ex-txta {
        min-height: 30vh;
    }

    .coming-soon-text {
        font-size: medium !important;
        margin-top: 18%;
    }

    .date-text,
    #secs,
    #mins,
    #hours,
    #days {
        font-size: small !important;
    }

}

.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end,
.carousel-fade .carousel-item.active {
    z-index: 2;
    opacity: 1
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease
}

.carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
    width: 35px !important;
    height: 35px !important;
}

.countdown-header {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 50vh;
}

#secs,
#mins,
#hours,
#days {
    font-family: Montserrat;
}

.img-fluid {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}

.hexagon-in1 {
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hexagon-in2 {
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    background-image: url("sketch1.jpg");
    background-size: cover;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hexagon1 {
    width: 330px;
    height: 220px;
    margin-left: -30px;
}

@media (max-width: 1200px) {
    .hexagon1 {
        width: 275px;
        height: 183px;
    }
}

@media (max-width: 991.9px) {
    .hexagon1 {
        width: 225px;
        height: 150px;
    }
}

@media (max-width: 769px) {
    .col-md-3 {
        width: 127px !important;
    }

    .hexagon1 {
        width: 175px;
        height: 117px;
    }
}

@media (max-width: 556px) {
    .col-md-3 {
        width: 120px !important;
    }
}

@media (max-width: 520px) {
    .col-md-3 {
        width: 110px !important;
    }
}

@media (max-width: 503px) {
    .col-md-3 {
        width: 105px !important;
    }
}

@media (max-width: 487px) {
    .col-md-3 {
        width: 95px !important;
    }
}

@media (max-width: 455px) {
    .col-md-3 {
        width: 90px !important;
    }
}

@media (max-width: 430px) {
    .col-md-3 {
        width: 80px !important;
    }

    .hexagon1 {
        width: 150px;
        height: 100px;
    }
}

@media (max-width: 390px) {
    .col-md-3 {
        width: 70px !important;
    }
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    color: inherit
}

.closeButton {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}

.closeButton:hover {
    color: #000;
    text-decoration: none
}

.closeButton:not(:disabled):not(.disabled):focus,
.closeButton:not(:disabled):not(.disabled):hover {
    opacity: .75
}

button.closeButton {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

a.closeButton.disabled {
    pointer-events: none
}

.disabled{
    opacity: 1 !important;
}